<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <h1>hello brothers</h1>
  <p>Mi motivo para estudiar software se basa en 
  la creencia de que la tecnología y el software en particular son motores
  de cambio en el mundo actual. El software está en el corazón de casi todas 
  las industrias y desempeña un papel fundamental en la resolución de problemas, 
  la innovación y la mejora de la eficiencia. Al estudiar software, tengo la oportunidad
  de adquirir habilidades que son altamente demandadas en el mercado laboral, lo que me
  proporcionará una base sólida para mi futuro profesional.</p>
</body>
</html>